

.header {

height: 80px;
    background-color: #c9acda;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
@media (max-width: 746px) {
    .header {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    }
@media (max-width: 424px) {
    .header {
        display: flex;
        justify-content: space-around;
        align-items: center;
        gap: 1px;
font-size: 13px;
    }
}